/* Your style goes here */
body {
  padding: 0;
}
.worker_resource-manager {
  background-color: yellow;
}
.warning {
  background-color: rgba(226, 59, 59, 0.5);
}
table, td {
  border: 1px solid #000;
}
table {
  box-sizing: border-box;
  width: calc(100% - 20px);
  max-width: 1200px;
  margin: 10px;
  border-collapse: collapse;
}