* {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.navbar-top,
.header,
.header__navbar {
  background-image: url("../img/header-bg.jpg");
  background-size: 100%;
}

.navbar-top {
  height: 3rem;
}

.header {
  padding: .25rem 0 .25rem;
}

.header__caption {
  margin: 7.75em 0 16.25rem;
  padding: 1rem 0;
}

.nav-item {
  font-size: 1.25em;
}

.line-divider {
  background-color: #4a4a44;
  height: 2px;
}

.text-underlined {
  position: relative;
}

.text-underlined::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 60%;
  bottom: -1rem;
  left: calc((100% - 60%) / 2);
  background-color: #4a4a4a;
}

.cards {
  margin-top: 3rem;
}

.services__card-text {
  font-size: 1.25em;
}

.services__btn {
  margin: 4rem 0 5rem;
  padding: .75rem 0;
  border-radius: 40px;
  border: none;
  font-size: 1.4em;
  background-image: url("../img/touch-bg.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.works {
  padding: 2rem 0;
  background-color: #ebebeb;
}

.works__examples {
  margin: 4.5rem 0 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "a b t"
    "c tt t"
    "d tt e";
  gap: 3rem 4.75rem;
}

.works__img_a {
  grid-area: a;
}

.works__img_b {
  grid-area: b;
}

.works__img_c {
  grid-area: c;
}

.works__img_d {
  grid-area: d;
}

.works__img_e {
  grid-area: e;
}

.works__img_tt {
  grid-area: tt;
}

.works__img_t {
  grid-area: t;
}

.references {
  padding-top: 2rem;
}

.slider {
  position: relative;
  margin-top: 4rem;
}

.slider__next-btn,
.slider__prev-btn {
  position: absolute;
  top: calc(100% / 2);
  bottom: 0;
  width: 28px;
  height: 67px;
  cursor: pointer;
}

.slider__next-btn {
  transform: translateX(400%);
  right: 0;
}

.slider__prev-btn {
  transform: translateX(-400%);
  left: 0;
}

.slider__img-wrap {
  position: relative;
}

.slider__img-wrap::after {
  content: '';
  position: absolute;
  left: -30px;
  bottom: -30px;
  width: 60%;
  height: 60%;
  background-image: url("../img/references-image-bg.png");
  z-index: -1;
}

.slider__title {
  font-size: 2.25em;
}

.slider__description {
  font-size: 1.25em;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators__indicator {
  margin: 0 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #62436f;
  cursor: pointer;
}

.indicators__indicator_active {
  background-color: rgba(98, 67, 111, 0.4);
}

.contact {
  margin-top: 8rem;
  padding: 3rem 0;
  background-color: #000;
}

.contact__caption {
  margin-top: 6rem;
}

.contact__input {
  border: 1px solid transparent;
  border-bottom: 2px solid #fff;
  padding: 1rem 1.5rem;
  background-color: #000;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.contact__input::placeholder {
  color: #b2b2b2;
}
.contact__input:focus {
  border: 1px solid #fff;
  border-bottom: 2px solid #fff;
  background-color: rgba(200,200,200,0.7);
  outline: none;
}
.contact__form {
  margin-top: 3rem;
}
.contact__btn {
  border: none;
  padding: 1.1em 4.5em;
  background-color: #202020;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
.footer {
  padding: 4rem 0;
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  color: #fff;
}
.copyright {
  font-size: 0.75rem;
}