$theme-font: 'Fresca', sans-serif;
$background-header: url("../img/m-h-night.jpg");
$colors: (
    "button": #e3ac00,
    "fontDefault": #fff,
    "contentBackground": #21232e,
    "highlightedWords": #ff4e33,
    "bgGradFirst": rgba(226, 171, 0, 1),
    "bgGradSecond": rgba(145,42,84,1),
    "utilityBackground": #3b3f50
);