$theme-font: 'Hind', sans-serif;
$background-header: url("../img/m-h-day.jpg");
$colors: (
    "button": #699900,
    "fontDefault": #2c2f3c,
    "contentBackground": #fff,
    "highlightedWords": #14a0c7,
    "bgGradFirst": rgb(105,153,1),
    "bgGradSecond": rgb(43,89,222),
    "utilityBackground": #21232e
);