@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
    font-family: "Roboto", sans-serif;
}

.btn-default {
    background-color: coral;
}

.btn-default:hover {
    background-color: lightcoral;
}

.btn-default:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 128, 128, 0.25);
    background-color: lightcoral;
}

.logo-title {
    font-size: 1em;
}

.main-title {
    font-size: 2.75em;
}