@media print {

    section:not(:first-of-type),
    section::before,
    .tm-sidebar,
    .gallery-container {
        display: none;
    }

    .tm-main-content {
        width: 75%;
        margin: 0 auto;
    }

    section:first-of-type {
        margin: -3.75em 0 -5em;
    }

    .tm-banner-wrapper {
        margin-bottom: 0;
    }

    .flex-2-col div:first-child {
        flex: 2.5;
    }

    .flex-2-col div:last-child {
        flex: 1.5;
    }

    h2.tm-section-title {
        color: #1219ff;
    }
}

.tm-banner,
.tm-nav-item:hover {
    background-color: #f5f5f5;
}

.tm-banner-inner {
    background-color: #fff;
}

.flex-2-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section:first-of-type p {
    text-indent: 30px;
    line-height: 1.8;
}

p::first-line {
    line-height: 1.2;
}

p::first-letter {
    font-size: 30px;
    color: #87CEFA;
}

.box-bg h2.tm-section-title:hover {
    background-color: #87CEFA;
    font-weight: 700;
    color: #fff;
}

.tm-sidebar,
.tm-content-header,
section {
    box-shadow: 0px 0px 8px 2px rgba(153, 153, 153, 1);
}

section::before {
    content: "";
    border-left: 250px solid lightskyblue;
    border-bottom: 30px solid transparent;
    border-top: transparent;
}

.carousel .tm-section-title {
    letter-spacing: 5px;
    color: gainsboro;
}

h2+p {
    font-style: italic;
}

ol li a {
    text-decoration: underline;
    color: #000;
}

ol li a:link {
    text-decoration-color: #fff;
}

ol li a:visited {
    text-decoration-color: #000;
}

ol li a:hover {
    color: #84d2db;
    text-decoration-color: unset;
    text-decoration-line: underline;
    text-decoration-style: double;
}

.text::after {
    content: "New";
    position: absolute;
    color: red;
    font-size: 0.6em;
    vertical-align: super;
}

.box-work {
    padding: 10px 10px 15px;
}

.box-work:nth-child(2n) {
    background-color: #f2f2f2;
}

.box-work p::first-letter {
    font-size: 1.5em;
    color: #000;
}

.mandatory-field::after {
    content: "*";
    font-weight: 700;
    color: red;
}

.submit-btn {
    padding: 1rem 4rem;
    background-color: #fff;
    float: right;
    font-size: 1.4rem;
    font-weight: 300;
    border: 1px solid #9cd6fb;
    border-radius: 0;
    color: #9cd6fb;
}

.submit-btn:hover {
    background-color: #9cd6fb;
    border: 1px solid #6cc7ff;
    color: #fff;
}